<h2> Students </h2>
<a href="/students/create">New Student</a>
<table border="1">
    <tr>
      
        <td>id</td>
        <td>Name</td>
        <td>Gender</td>
        <td>City</td>
      </tr>
  <!-- Loop through students -->
  <% for(var i = 0; i < results.length; i++) {%>
    <tr>
      
      <td><%= results[i].Sid%></td>
      <td><%= results[i].Sname %></td>
      <td><%= results[i].Gender %></td>
      <td><%= results[i].City %></td>
      <td><a href="/students/delete/<%= results[i]._id %>">Delete</a>
        <a href="/students/search/<%= results[i]._id %>">Edit</a>
    </td>
    </tr>
  <% } %>
</table>